:root {
  --ion-color-primary: #8B6F47;
  --ion-color-primary-rgb: 139, 111, 71;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7a6240;
  --ion-color-primary-tint: #977d59;

  --ion-color-secondary: #6B8E5A;
  --ion-color-secondary-rgb: 107, 142, 90;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5e7d4f;
  --ion-color-secondary-tint: #7a996b;

  --ion-color-tertiary: #A8C090;
  --ion-color-tertiary-rgb: 168, 192, 144;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #94a97f;
  --ion-color-tertiary-tint: #b1c69b;

  --ion-color-success: #6B8E5A;
  --ion-color-warning: #F4A261;
  --ion-color-danger: #E76F51;
  --ion-color-dark: #2B2B2B;
  --ion-color-medium: #92949c;
  --ion-color-light: #f4f5f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

